body {
  background: url('pastel-resized.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
input {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2.8rem;
  padding: 3rem 0 3rem 0;
  text-align: center;
  font-weight: bolder;
  color: #fff;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #87868c, 0 0 40px #87868c, 0 0 50px #87868c, 0 0 70px #87868c;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #aaa9ad, 0 0 40px #aaa9ad, 0 0 50px #aaa9ad, 0 0 60px #aaa9ad, 0 0 80px #aaa9ad;
  }
}

.grid {
  margin-left: 6rem;
  display: flex;
  max-width: 512px;
  max-height: 512px;
  flex-wrap: wrap;
}

.item {
  width: 30px;
  height: 30px;
  border: 1px solid #f5fbfd;
  background: #fff;
}

.black {
  background: black;
}

.rainbow {
}

.black10 {
}

.maintain {
  text-align: center;
  background: #fff;
  padding: 1rem;
  border-radius: 3px;
  align-self: flex-start;
}

.colorBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.colorBar>label {
  display: block;
  width: 150px;
  margin-right: 0.5rem;
}
#labelBlack {
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-bottom-width: 5px;
}

#labelRainbow {
  border-bottom-style: solid;
  padding-bottom: 5px;
  background: linear-gradient(
    to right,
    red 0%,
    orange 18%,
    yellow 36%,
    green 54%,
    blue 72%,
    indigo 90%,
    purple 100%
    )
    bottom
    no-repeat;
  background-size: 100% 5px;
  }

  #label10Black {
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 5px;
  }

  #labelChoose {
    width: 145px;
    margin-right: 8px;
    border-bottom-style: solid;
  }

  .clear {
    margin-bottom: 1rem;
  }

  .pixelBar {
    margin-top: 1rem;
  }

  .pixelBar span{
    font-weight: bolder;
  }
  .sizeContainer {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    align-items: center;
  }
  
  .sizebar {
    width: 145px;
  }
  
  .sizeValue {
    width: 25px;
    margin-left: 5px;
    text-align: center;
    border: solid 1px #000;
    background-color: #eeeeee;
    font-size: 0.9rem;
  }

  .sizeContainer input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  hr.dashed {
    border-top: 2px dashed #eee;
  }

  button {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 1rem;
    width: 100%;
    color: #fff;
    background: #76a2ce;
    border: 0;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 2px;
  }

  .sizeButton {
    margin-top: 0.6rem;
  }